/.gitignore
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Environment files
.env
.env.*
!.env.example
.env.local

# Testing
coverage

# Production
dist
dist-ssr
build
*.local

# Misc
.DS_Store
*.pem
.vscode

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# Supabase
.supabase

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# API keys 
keys/
*.json

# Operating System
.DS_Store
Thumbs.db

.vercel